/*================================Main content================================*//*Content box*/

body{
    overflow: hidden;
    background-color: var(--clr-light); 
}

.page-box-bar{
    width: 10000px;
    position: fixed;
    overflow: auto;
}

.page-tab{
    position: relative;
    display: inline-block;
    padding: 4px var(--sp-medium);
    cursor: pointer;
    transition: .2s ease;
}

.page-tab p{
    font-size: 12px;
}


.page-box{
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    background-color:white;
}

.page-click{
    background-color:white;
    z-index: 1200;
}

.main-info-box{
    position: relative;
    width: calc(100% - 30px);
    height: calc(100vh - 72px);
    z-index: 1500;
    overflow: auto;
    margin: var(--sp-large);
}